---
import BaseLayout   from '@/layouts/BaseLayout.astro';
import Header       from '@/components/Header.astro';
import Footer       from '@/components/Footer.astro';
import Hero         from '@/components/sections/Hero.astro';
import Testimonials from '@/components/sections/Testimonials.astro';
import CtaBanner    from '@/components/sections/CtaBanner.astro';
import Contact      from '@/components/sections/Contact.astro';
import CookieBanner from '@/components/ui/CookieBanner.astro';
---

<BaseLayout>
  <CookieBanner />
  <Header />

  <main>
    <Hero />
    <Testimonials />
    <CtaBanner />
    <Contact />
  </main>

  <Footer />
</BaseLayout>
